.projectSection {
  margin: 15%;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px gray;
  width: 30%;
  margin-bottom: 4%;
  position: relative;
  transition: 0.5s;

  &:hover {
    scale: 1.04;
    transition: 0.5s;
  }
}