#header {
    margin: auto;
    padding: 10%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-self: center;

}

h1 {
    text-decoration: none;
    font-weight: normal;
    font-size: 36px;
    background: linear-gradient(white, white, white, #9198E5);
    float: left;
    border-radius: 20%;
    padding-bottom: 4px;
    text-align: left
}

.content {
    position: relative;
}

p {
    font-size: 20px;
    text-align: left
}

.imageCollection {
    margin-left: 5%;
    width: 400%;
    position: relative;

    img {
        border-radius: 50%;
    }
}


#img1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 210px;
}

#img2 {
    position: absolute;
    width: 250px;
    top: 125px;
    left: 210px;
}

#img3 {
    position: absolute;
    width: 180px;
    top: 250px;
    left: 20px;
}

@media only screen and (max-width: 999px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    #header {
        margin: auto;
        padding: 10%;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .imageCollection {
        width: 400%;
        align-content: center;
        margin: auto;

        img {
            border-radius: 50%;
        }
    }
}